---
layout: base
title:
---

<h2>Cŕeditos</h2>
<div class="archive">
  <div class="container-fluid">
    <div class="row noise">
      <div class="col-12">
      {% for post in site.tags.creditos %}
        {% if post.redirect %}
        {% else %}
        <article class="card">
          <div class="card-block">
            {% if post.content %}
            <div class="card-text">{{ post.content }}</div>
            {% endif %}
            {% include share.html %}
          </div>
        </article>
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>
