---
layout: base
title: Notes
---

<h2>Notes</h2>
<div class="archive">
  <div class="card-columns container-fluid">
    {% for post in site.posts %}
      {% if post.redirect %}
      {% else %}
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"><a href="{{ post.url | downcase }}">{{ post.title }}</a></h4>
        </div>
        {% if post.projectImg %}<img class="card-img-top" src="{{ post.projectImg }}" alt="{% if post.projectName %}{{ post.projectName }}{% else %}{{ post.title }}{% endif %} screenshot"/>{% endif %}
        <div class="card-block">
          <p class="card-text">{{ post.excerpt | strip_html }}</p>
          <a class="card-link" href="{{ post.url | downcase }}">read more</a>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
