---
layout: base
title: Projects
---
<h2>Portfolio</h2>
<div class="projects container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card-columns archive">
        {% for post in site.tags.portfolio %}
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"><a href="{{ post.url | downcase }}">{% if post.projectName %}{{ post.projectName }}{% else %}{{ post.title }}{% endif %}</a></h4>
          </div>
          {% if post.projectImg %}<img class="card-img-top" src="{{ post.projectImg }}" alt="{% if post.projectName %}{{ post.projectName }}{% else %}{{ post.title }}{% endif %} screenshot"/>{% endif %}
          <div class="card-block">
            <p class="card-text">{{ post.excerpt | strip_html }}&hellip;</p>
            <a class="card-link" href="{{ post.url | downcase }}">Project Details</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
