<header>
  <nav role="navigation">
          <a href="/about.html">Acerca</a>
          <a href="/creditos.html">Créditos</a>
          <a href="/noticias.html">Noticias</a>
          <a href="/medios.html">Medios</a>
          <a href="./La_Grieta_Press_Kit.pdf">Ficha</a>
  </nav>
        <h1><a href="./"><span>La Grieta</span> <small>Una película de Irene Yagüe Herrero y Alberto García Ortiz</small></a></h1>
        <a href="#top"><i class="fa fa-long-arrow-down"></i></a>
        <!-- a href="#top"><i class="fa fa-long-arrow-down"></i></a -->
</header>
<div id="top"></div>
