<script type="text/javascript">
    var d = document, e = d.documentElement,
        b = d.getElementsByTagName('body')[0],
        h = d.getElementsByTagName('head')[0],
        //for model.jpg: c = ['#5E7F30', '#AA925A', '#D6D6DE', '#352620'],
        c = ['#FEAD71', '#7F4B33', '#1F528A', '#D1E2F2'],
        s = d.createElement('style'),
        maxwidth = window.innerWidth || e.clientWidth || b.clientWidth(),
        maxheight = window.innerHeight || e.clientHeight || b.clientHeight(),
        bgImg = '', bgSize = '', bgPos = '',
        _gaq = _gaq || [],
        protocol = d.location.protocol;
    /* create background CSS */
    for (var i = 10, l = 20 + (Math.random() * 10); i < l; i++) {
      var col = c[i % (c.length)],
        bgs = Math.floor((Math.random() * maxwidth) + (Math.random() * maxheight)),
        bgp = Math.round(Math.random() * bgs) + 10,
        r = Math.floor(Math.random() * i) + 50;
      bgImg += ['radial-gradient(', col, ' 0, transparent ', r, '%, transparent 0),'].join('');
      bgSize += bgs + 'px ' + bgs + 'px,';
      bgPos += bgp + 'px ' + bgp + 'px,';
    }
    s.innerHTML = 'html { background-image:' + bgImg.slice(0, -1) + ';\nbackground-size:' + bgSize.slice(0, -1) + ';\nbackground-position:' + bgPos.slice(0, -1) + ';}';
    var style = h.appendChild(s);
</script>
