<div class="h3 share_buttons text-center">
    Comparte:
    {% if post.title | uri_escape %}
    <a class="twitter" href="http://twitter.com/intent/tweet?url=http%3A%2F%2Flagrieta.es{{ post.url | uri_escape }}&text={{ "La Grieta. Una película de Irene Yagüe Herrero y Alberto García Ortiz" | uri_escape }}&via={{ twitter }}" target="_blank" ><i class="fa fa-twitter" ></i><span class='sr-only'>twitter</span></a>
    <a class="facebook" href="http://facebook.com/sharer.php?u=http%3A%2F%2Flagrieta.es{{ post.url | uri_escape }}" target="_blank" ><i class="fa fa-facebook" ></i><span class='sr-only'>facebook</span></a>
    <a class="google" href="https://plus.google.com/share?url=http%3A%2F%2Flagrieta.esm{{ post.url | uri_escape }}" target="_blank" ><i class="fa fa-google+" ></i><span class='sr-only'>google plus</span></a>
    <a class="email" href="mailto:?subject={{ "La Grieta. Una película de Irene Yagüe Herrero y Alberto García Ortiz" | uri_escape }}&body=http%3A%2F%2Flagrieta.es{{ post.url | uri_escape }}" target="_blank"><i class="fa fa-envelope" ></i><span class='sr-only'>email</span></a>
    {% endif %}
</div>
