<div id="social_media">
        <a href="mailto:lagrieta.pelicula@gmail.com" title="Contacto, distribución y ventas"><i class="fa fa-envelope-o" alt="email"></i></a>
        <a href="http://twitter.com/grietakas" title="Síguenos en twitter"><i class="fa fa-twitter" alt="twitter"></i></a>
        <a href="http://www.facebook.com/lagrieta.pelicula/" title="Síguenos en facebook"><i class="fa fa-facebook" alt="facebook"></i></a>
        <a href="http://instagram.com/lagrieta.pelicula" title="Echa un vistazo a nuestro instagram"><i class="fa fa-instagram" alt="instagram"></i></a>
        <a href="https://vimeo.com/lagrieta" title="Síguenos en Vimeo"><i class="fa fa-vimeo" alt="vimeo"></i></a>
        <a href="./feed.xml" title="Suscríbete a nuestras noticias" rel="alternate" type="application/rss+xml"><i class="fa fa-rss" alt="rss"></i></a>
</div>
