@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fadeInAndUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


header {
  animation: slideInFromLeft 1s ease 0s 1;

  nav,
  h1 {
    animation: slideInFromLeft 1s ease 0s 1;
  }
}

h2 {
  animation: fadeInAndUp 1s ease 0s 1;
}

.card {
  animation: fadeInAndUp 1s ease 0s 1;
}
