.card {
  margin: 0 auto .75rem;
  max-width: 65rem;
  padding: 5vw 1rem;
  border: none;

  &:last-of-type {
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: $black;
    padding-left: 0;
    transform: none;
  }
}

.card-header {
  background: transparent;
  border-bottom: 0;
}

.card-img-top {
  max-width: 100%;
  width: 100%;
}

.card-columns {
  column-count: 1;
  margin: 0 auto;
  max-width: 65rem;
}

@include media-breakpoint-up(sm) {
  .card-columns {
    column-count: 2;
  }
}

@include media-breakpoint-up(lg) {
  .card-columns {
    column-count: 3;
  }
}
