h1 {
  color: $white;
}

h2 {
  font-size: 3rem;
  padding-left: 1.4rem;
//  transform: rotateZ(2.9deg);
}

img {
  @include img-fluid;
}

body {
  background-color: transparent;
  font-size: 1.3em;
}

main {
  transition: background .5s;
}

.archive,
.post {
  clip-path: polygon(0 0, 100% 5vw, 100% 100%, 0 calc(100% - 5vw));
}

a,
a:hover {
  text-decoration: none;
}

footer {
  color: $white;
  margin-top: 2rem;
  text-shadow: 0 0 5px $black;

  h1,
  a,
  a:hover,
  a:active,
  small {
    color: $white;
    text-align: center;
    text-shadow: 0 0 5px $black;
  }

  small {
    display: block;
  }

  [class*=col] {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

#license {
  margin-top: 5vh;
}

@include media-breakpoint-up(md) {
  .container-fluid {
    @include make-container-max-widths();
  }
}
