header {
  align-items: flex-start;
  background-image: url('../images/cabecera_web.jpg');
  //clip-path: polygon(0 0, 100% 5vw, 100% 100%, 0 calc(100% - 5vw));
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  height: 80vh;
  justify-content: center;
  height: 85%;
  max-width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 1em;
  nav {
    color: $white;
    display: block;
    margin-top: 2rem;
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    a {
      color: $white;
      font-size: 1.12rem;
      font-weight: normal;
      margin: 1rem 1rem;
      text-decoration: none;
    }
    a:hover {
      color: $green;
    }
  }

  h1 {
    color: $white;
    font-size: 4.5rem;
    width: 100%;
    text-align: center;

    a{
      color: $white;
    }

    a:hover {
      color: $green;
      font-weight: bold;
    }

    span {
      border-bottom: 1px solid $white;
      display: block;
      font-weight: bold;
      padding: 0 0 0 0;
    }

    small {
      display: block;
      font-size: .2em;
      padding: 0 0;
      text-align: center;
    }
  }

  [href='#top'] {
    bottom: 1rem;
    display: block;
    left: 45%;
    margin: 0 auto;
    position: absolute;
    right: 45%;
  }
}

.landing {
  [href='#top'] {
    display: none;
  }
}


@include media-breakpoint-up(md) {
  .landing {
    header {
      height: 80vh;
    }
  }

  header {
    background-image: url('../images/cabecera_web.jpg'), linear-gradient(87deg, $white 0%, transparent 87%);

    h1 {
      font-size: 8vw;
    }

    nav a {
      font-size: 1.7rem;
    }
  }
}

@include media-breakpoint-up(lg) {
  header {

  }
}
