.navbar {
  align-items: center;
  flex-basis: 0;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: auto ;
  margin-right: auto ;
  a {
    margin: 0;
  }
}


.post_pagination {
  clear: both;
  width: 100%;

  .prev {
    float: left;
  }

  .next {
    float: right;
  }

  a {
    margin-bottom: .1em;

    &:hover {
      margin-bottom: 0;
    }
  }
}
