#social_media {
  font-size: 2.2rem;
  margin: 5vh 1vw;
  text-align: center;

  a {
    color: $white;
    margin: .2em 1rem;
    text-shadow: 0 0 5px $black;
  }

  a:hover {
    color: $green;
    text-shadow: 0 0 10px $black;
    transition: text-shadow .2s ease-in-out;
    //color: white;
  }

}
