#social_media {
  font-size: 2rem;
  margin: 5vh 1vw;
  text-align: center;

  a {
    color: $white;
    margin: .2em 1rem;
    text-shadow: 0 0 5px $black;
  }

  a:hover {
    color: $green;
    text-shadow: 0 0 10px $black;
    transition: text-shadow .2s ease-in-out;
    //color: white;
  }
}
.jekyll-twitter-plugin {
  margin: auto;
  margin-top: 25px;
  max-width: 500px;

  &:last-of-type {
    margin-bottom: 0;
  }
  .SandboxRoot {
    background-color: #fff;

  }
}
.video-centro {
  margin:0px auto;
  margin: auto;
  margin-top: 25px;
  max-width:700px;
  padding-bottom: 60px;
  background:#CCC;
}
.h_iframe {
  position:relative;
  .ratio {display:block;width:100%;height:auto;}
  iframe {position:absolute;top:40px;left:0;width:100%; height:100%;}
}
