// colors
$black: #111111;
$white: #FFFFFF;
$red: #B81927;
$orange: #E35D12;
$yellow: #D3AA28;
$green: #13cb00;
$blue: #042F8D;
$tan: #74462E;
$brown: #40201A;

@font-face {
font-family: "Bebas Kai";
src: url("../fonts/BebasKai-Regular.otf") format("truetype");
}
@font-face {
font-family: "DejaVu Sans";
src: url("../fonts/DejaVuSans.ttf") format("truetype");
}

// globals
$body-bg: $black;
$font-family-sans-serif: "DejuaVu Sans", sans-serif;
$headings-font-family: "Bebas Kai", sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-color: $white;
$card-cap-bg: $white;
$zindex-modal:1000;

// Kuler: beachside
// darkest blue: #042F8D
// medium blue: #0578C1
// light blue: #06C3D6
// green: #2E7526
// tan: #74462E

// Kuler: funky shirt 2
// dark blue: #15445C
// off white: #D9D8D4
// orange: #DB6C09
// light blue: #2D8091
// brown: #40201A

// Kuler: primary funk
// red: #B81927
// off white: #F8F9FC
// light blue: #01AEE7
// mustard yellow: #D3AA28
// orange: #E45D12
