<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" media="not print" href="/css/style.css" />
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
    {% seo %}
    {% feed_meta %}
  </head>
  <body>
    {% include header_video.html %}
    {% include video.html %}
    <div class="post">
      <div class="container-fluid">
        <article class="card">
          <div class="card-block">
            <p class="card-text">
              <strong>La Grieta</strong> retrata la lucha de dos vecinas por conservar sus casas en un edificio de protección oficial en Villaverde, un barrio obrero de Madrid.
            </p>
            <p class="card-text">
              Corre el año 2013 cuando los fondos de inversión aterrizan en España atraídos por las gangas inmobiliarias que los gobiernos locales ponen a la venta.
            </p>
            <p class="card-text">
              <strong>La Grieta</strong> revela la compleja realidad de estas familias mercheras, un retrato que no solo se centra en la lucha por un techo, sino también en el sentido de identidad y pertenencia a una comunidad.
            </p>
            <p class="card-text h3">
              Ficha Técnica
            </p>
            <p class="card-text">
              Duración 78’| País de producción ESPAÑA | Año 2017 | Formato HD
            </p>
            <p class="card-text">
              Género DOCUMENTAL
            </p>
            <p class="card-text">
              V.O CASTELLANO e INGLÉS | Subtítulos ESPAÑOL e INGLÉS
            </p>
            <p class="card-text">
              Dirección IRENE YAGÜE y ALBERTO G. ORTIZ
            </p>
            <p class="card-text">
              Fotografía ALBERTO G. ORTIZ | Sonido Directo IRENE YAGÜE
            </p>
            <p class="card-text">
              Mezcla de Sonido PATRICK GHISLAIN | Etalonaje MANUEL DÁVILA
            </p>
            <p class="card-text">
              Producción IRENE YAGÜE y ALBERTO G. ORTIZ
            </p>
            <p class="card-text">Asistentes Producción MARÍA VERA y AGATHA MACIASZEK
            </p>
            <p class="card-text">Montaje ALBERTO G. ORTIZ | Ayudantes Montaje IRENE YAGÜE y AGATHA MACIASZEK
            </p>
            <p class="card-text">Ayudantes Montaje IRENE YAGÜE y AGATHA MACIASZEK
            </p>
            <p class="card-text">Música EL LUISITO
            </p>
            <p class="card-text">Cartel JULIEN CHARLON
            </p>
          </div>
        </article>
      </div>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
