<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title> La Grieta - Una película de Irene Yagüe Herrero y Alberto García Ortiz -</title>
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" media="not print" href="/lagrieta/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
    {% seo %}
    {% feed_meta %}
  </head>
  <body>
    {% include header_video.html %}
    <footer>
      {% include social_media.html %}
    </footer>
    {% include scripts.html %}
  </body>
</html>
