<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="6001;url={{ content | strip_html | strip_newlines}}">
    <title>301: Moved Permanently</title>
  </head>
  <body style="text-align:center">
    <h1 style="font-size:2em">301</h1>
    <h2 style="font-size:5em">What did you <i>do</i> Ray!?</h2>

    <img src="" alt="Ray from Ghostbusters, I don't own this (c), duh." />

    <p>Just kidding, I moved this page to <a href="{{ content | strip_html | strip_newlines }}">{{ content | strip_html | strip_newlines }}</a></p>

    <script>
      setTimeout(function(){window.location="{{ content | strip_html | strip_newlines }}";},6001);
    </script>
  </body>
</html>
